<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
<br>
<br>
<table width="800" cellspacing="15">
   <tr height="40">
     <td>
     名前:
     <%= f.text_field :name %>
     </td>
   </tr>
   <tr height="40">
     <td>
     年齢:
     <%= f.text_field :age %>
     </td>
   </tr>
   <tr height="70">
    <td valign="top">
     内容:
     <%= f.text_area :body, :size=>"100x10" %>
    </td>
   </tr>
  <tr height="50">
    <td>
    　　　　<%= f.submit class: "btn btn-sm btn-primary" %>
    </td>
  </tr>
  </table>
  <br>
  <br>
  <br>
  <% end %>